@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* ********************* GENERAL STYLING ********************** */
:root {
    --color-primary: rgb(76 29 149);
    --color-secondary: linear-gradient(to top, #5b21b6, #4c1d95);
    --color-dark: #000;
    --color-heading: rgb(17, 24, 39);
    --color-light: rgb(107, 114, 128);
    --color-white: rgb(249, 250, 251);

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 100%;

    --transition: all 400ms ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.5;
    background: var(--color-white);
}

.container {
    inline-size: var(--container-width-lg);
    margin: 0 auto;
}

section {
    padding: 6rem 0;
}

/* ********************* GENERAL STYLING END ********************** */


/* ********************* FOOTER ********************** */
footer {
    background: var(--color-secondary);
    padding: 3rem 2rem 0;
    inset-inline-end: 10rem;
}

.footer_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.1rem;
    padding-inline-start: 3rem;
    margin-inline-end: 10rem;
    font-size: 1.8rem;
    color: var(--color-white);
    font-weight: bold;
    padding-block-end: 4rem;
}

.footer_container>div h4 {
    margin-block-end: 1rem;
}

.company {
    display: flex;
    gap: 1rem;
}

.company img {
    inline-size: 90px;
}

.company h4 {
    padding-block-start: 2rem;
    font-weight: 100;
}

ul {
    position: absolute;
}

ul li {
    padding-block-start: 0.5rem;
}

ul li a {
    color: var(--color-white);
    font-size: 1.5rem;
    font-weight: 400;
    position: relative;
    transition: var(--transition);
    inset-inline-start: 0;
}

ul li a:hover {
    inset-inline-start: 20px;
}

.socials {
    display: flex;
    gap: 2rem;
}

.socials i {
    inline-size: 60px;
    block-size: 60px;
    border: 3px solid #dd8110fa;
    padding: 0.7rem;
    border-radius: 50%;
    display: flex;
    color: #dd8110fa;
    position: relative;
    align-items: center;
    justify-content: center;
    transition: transform var(--transition);
}

.footer_container .socials i:hover {
    transform: translateY(-10px);
}

.copyright {
    text-align: center;
    justify-content: center;
    padding: 7rem 0 3rem 0;
}

p {
    color: var(--color-white);
    font-size: 1.5rem;
    font-weight: 400;
}

/* ********************* FOOTER END ********************** */


/* ********************* MEDIA QUERIES ********************** */
/* ================ TABLETS =============== */
@media screen and (max-width: 1024px) {
    .footer {
        padding-block-end: 0;
    }

    .container {
        inline-size: var(--container-width-md);
    }

    .footer_container {
        margin-inline-start: -3rem;
        margin-inline-end: 1rem;
        font-size: 1rem;
        font-weight: 500;
        padding-block-end: 0;
        inline-size: 100%;
    }

    .company {
        gap: 0.5rem;
    }

    .company img {
        inline-size: 50px;
    }

    .company h4 {
        inline-size: 100%;
    }

    ul li a {
        font-size: 1.05rem;
    }

    .socials i {
        inline-size: 40px;
        block-size: 40px;
        gap: 0.5rem;
    }

    .copyright p {
        font-size: 1rem;
        padding-block-end: 0.1rem;
    }
}

/* ================ MEDIUM SCREENS =============== */
@media screen and (max-width: 764px) {
    .footer {
        font-weight: 200;
    }

    /* .company {
        display: grid;
        grid-template-columns: 1fr 1fr;
    } */

    .company h4 {
        font-size: 18px;
        padding-block-start: 0;
        margin-inline-end: 1rem;
    }
}


/* ================ SMALLER SCREENS =============== */
@media screen and (max-width: 600px) {
    .footer_container {
        grid-template-columns: 1fr;
        row-gap: 10rem;
    }

    .copyright {
        padding: 3rem 0 3rem 0;
        text-align: start;
    }
}