.container {
    box-sizing: border-box;
    background-color: rgb(76 29 149);
    border-radius: 6.25rem;
    color: white;
    text-transform: capitalize;
    font-family: Impact, sans-serif;
    inline-size: 100%;
}

.row img {
    max-inline-size: 50px;
}

.row span {
    line-height: 20px;
    inset-inline-start: -200px;
    margin-inline-start: -20px;
    /* margin-inline-end: 100px; */
}

.navbar-right {
    position: absolute;
    inset-inline-end: 200px;
}

.nav a {
    text-decoration: none;
    color: white;
    margin: 0 20px;
}

.account {
    background-color: rgb(186 114 100);
    padding: 10px;
    border-radius: 6.25rem;
    font-weight: bold;
    margin-block-start: -10px !important;
    line-height: 30px;
    letter-spacing: 2px;
}