@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* ********************* GENERAL STYLING ********************** */
:root {
    --color-primary: rgb(76 29 149);
    --color-secondary: linear-gradient(to top, #5b21b6, #4c1d95);
    --color-heading: rgb(17, 24, 39);
    --color-light: rgb(107, 114, 128);
    --color-white: rgb(249, 250, 251);

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 100%;

    --transition: all 400ms ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container {
    inline-size: var(--container-width-lg);
    margin: 2rem auto 1px auto;
}