@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* ********************* GENERAL STYLING ********************** */
:root {
    --color-primary: rgb(76 29 149);
    --color-secondary: linear-gradient(to top, #5b21b6, #4c1d95);
    --color-dark: #000;
    --color-heading: rgb(17, 24, 39);
    --color-light: rgb(107, 114, 128);
    --color-white: rgb(229, 231, 235);
    --color-btn: rgb(186, 114, 100);
    --colot-btn1: #dd8110fa;

    --transition: all 400ms ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
    position: relative;
}

body {
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.5;
    background: var(--color-white);
    margin: 0;
    padding-block-end: 100px;
}

.container {
    inline-size: var(--container-width-lg);
    margin: 0 auto;
}



/* ********************* GENERAL STYLING END ********************** */


/* ********************* FOOTER ********************** */


/* ********************* FOOTER END ********************** */


/* ********************* MEDIA QUERIES ********************** */
/* ================ TABLETS =============== */
@media screen and (max-width: 1024px) {}

/* ================ MEDIUM SCREENS =============== */
@media screen and (max-width: 764px) {}


/* ================ SMALLER SCREENS =============== */
@media screen and (max-width: 600px) {}

/* ================ SMALLEST SCREENS ============ */
@media screen and (max-width: 400px) {}