main {
    margin-block-start: 60px;
}

.products-grid {
    display: grid;

    /* repeat(8, 1fr) is a way to repeat 1fr without having
      to type "1fr" 8 times. repeat(...) is a special
      property that works with display: grid; */
    grid-template-columns: repeat(8, 1fr);
}

@media (max-inline-size: 2000px) {
    .products-grid {
        grid-template-columns: repeat(7, 1fr);
    }
}

@media (max-inline-size: 1600px) {
    .products-grid {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (max-inline-size: 1300px) {
    .products-grid {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-inline-size: 1000px) {
    .products-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-inline-size: 800px) {
    .products-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-inline-size: 575px) {
    .products-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-inline-size: 450px) {
    .products-grid {
        grid-template-columns: 1fr;
    }
}

.products-grid .empty-results-message {
    padding-inline-start: 10px;
    padding-block-start: 10px;
    grid-column: span 2;
}

.products-grid .product-container {
    padding-block-start: 40px;
    padding-block-end: 25px;
    padding-inline-start: 25px;
    padding-inline-end: 25px;

    border-inline-end: 1px solid rgb(231, 231, 231);
    border-block-end: 1px solid rgb(231, 231, 231);

    display: flex;
    flex-direction: column;
}

.products-grid .product-image-container {
    display: flex;
    justify-content: center;
    align-items: center;

    block-size: 180px;
    margin-block-end: 20px;
}

.products-grid .product-image {
    /* Images will overflow their container by default. To
      prevent this, we set max-width and max-height to 100%
      so they stay inside their container. */
    max-inline-size: 100%;
    max-block-size: 100%;
}

.products-grid .product-name {
    block-size: 40px;
    margin-block-end: 5px;
}

.products-grid .product-rating-container {
    display: flex;
    align-items: center;
    margin-block-end: 10px;
}

.products-grid .product-rating-stars {
    inline-size: 100px;
    margin-inline-end: 6px;
}

.products-grid .product-rating-count {
    color: #017cb6;
    cursor: pointer;
    margin-block-start: 3px;
}

.products-grid .product-price {
    font-weight: 700;
    margin-block-end: 10px;
}

.products-grid .product-quantity-container {
    margin-block-end: 17px;
}

.products-grid .variation-name {
    font-weight: 500;
    margin-block-end: 1px;
}

.products-grid .variation-options-container {
    cursor: default;
    margin-block-start: 5px;
    margin-block-end: 10px;
}

.products-grid .variation-option {
    background-color: white;
    border: 1px solid rgb(173, 177, 184);
    padding: 5px 8px;
    border-radius: 8px;

    font-size: 15px;
    margin-inline-end: 3px;
    margin-block-end: 7px;
}

.products-grid .variation-option.is-selected {
    border: 2px solid rgb(231, 117, 2);
    padding: 4px 7px;
}

.products-grid .product-spacer {
    flex: 1;
}

.products-grid .added-to-cart-message {
    color: rgb(6, 125, 98);
    font-size: 16px;

    display: flex;
    align-items: center;
    margin-block-end: 8px;

    /* We will use JavaScript to change this opacity. */
    opacity: 0;
}

.products-grid .added-to-cart-message img {
    block-size: 20px;
    margin-inline-end: 5px;
}

.products-grid .added-to-cart-message.is-visible {
    opacity: 1;
    transition: none;
}

.products-grid .add-to-cart-button {
    inline-size: 100%;
    padding: 8px;
    border-radius: 50px;
}