@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Ubuntu:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");

/* ******************* GENERAL STYLING************************ */
:root {
    --primary-color: #F9F52C;
    --secondary-color: #FF2E5F;
    --font-color: #FFF;
    --tertiary-color: #4DCA1B;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: #333;
    font-family: 'Manrope', sans-serif;
}

body::before {
    position: fixed;
    content: '';
    inset-inline-start: -10px;
    inset-block-end: -10px;
    block-size: 300px;
    inline-size: 300px;
    background: var(--secondary-color);
    filter: blur(150px);
    z-index: -1;
}

body::after {
    position: fixed;
    content: '';
    inset-inline-start: -10px;
    inset-block-end: -10px;
    block-size: 200px;
    inline-size: 200px;
    background: var(--primary-color);
    filter: blur(150px);
    z-index: -1;
}

/* ******************* NAV STYLING************************ */
.container-main::after {
    position: fixed;
    content: '';
    inset-inline-end: 300;
    inset-block-end: 50%;
    block-size: 100px;
    inline-size: 100px;
    background: var(--primary-color);
    filter: blur(100px);
    z-index: -1;
}

header {
    position: fixed;
    inset-block-start: 0;
    inset-inline-start: 0;
    inline-size: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    z-index: 1000;
}

header.sticky {
    padding: 20px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
    background: rgba(255, 255, 255, .05);
    backdrop-filter: blur(42px);
}

header .logo {
    color: var(--font-color);
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 800;
    letter-spacing: 2px;
}

header .logo span {
    color: var(--secondary-color);
}

header .logo span:nth-child(2) {
    color: var(--tertiary-color);
}

header ul {
    position: relative;
    display: flex;
}

header ul li a {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    text-decoration: none;
    color: var(--font-color);
}

header ul li a:hover {
    color: var(--tertiary-color);
}

header a.btn1 {
    position: relative;
    font-size: 1em;
    color: var(--font-color);
    display: inline-block;
    padding: 10px 30px;
    margin: 0 15px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    border-start-start-radius: 20px;
    border-end-end-radius: 20px;
    transition: .5s;
}


header a.btn1:hover {
    border-start-start-radius: 0px;
    border-end-end-radius: 0px;
    border-start-end-radius: 20px;
    border-end-start-radius: 20px;
}

/* ******************* Home Styling ************************ */
.banner {
    min-block-size: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 100px;
}

.banner .containerBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner .containerBox .contentBx {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-inline-size: 643px;
}

.banner .containerBox .contentBx .a-img {
    position: relative;
    font-size: 0.8em;
    color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 30px;
    transition: .5s;
    background: #3E5A33;
    inline-size: 200px;
}

.banner .containerBox .contentBx .a-img img {
    inline-size: 40px;
}

.banner .containerBox .contentBx h1 {
    font-size: 5em;
    color: var(--font-color);
    font-family: 'Ubuntu', sans-serif;
}

.banner .containerBox .contentBx h1 span {
    color: var(--secondary-color);
}

.banner .containerBox .contentBx p {
    color: #C9C5C5;
    font-size: 1em;
}

.banner .containerBox .contentBx a.btn {
    position: relative;
    font-size: 1em;
    color: var(--font-color);
    background: var(--secondary-color);
    display: inline-block;
    padding: 10px 30px;
    margin: 15px 0;
    inline-size: 150px;
    text-decoration: none;
    letter-spacing: 1px;
    border-start-start-radius: 20px;
    border-end-end-radius: 20px;
    transition: .5s;
}


.banner .containerBox .contentBx a.btn:hover {
    border-start-start-radius: 0px;
    border-end-end-radius: 0px;
    border-start-end-radius: 20px;
    border-end-start-radius: 20px;
}

.banner .containerBox .imgBox {
    block-size: 500px;
    inline-size: 700px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.banner .containerBox .imgBox img {
    inline-size: 500px;
}


/* ******************* ABOUT SECTION Styling ************************ */
.about {
    min-block-size: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 100px;
}

.about .containerBox .imgBox {
    block-size: 500px;
    inline-size: 700px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.about .containerBox .imgBox img {
    inline-size: 500px;
}

.about .containerBox .contentBx {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    max-inline-size: 643px;
}

.about .containerBox .contentBx h5 {
    color: var(--secondary-color);
    font-size: 1.5em;
}

.about .containerBox .contentBx h1 {
    color: var(--font-color);
    font-size: 4em;
    font-family: 'Ubuntu', sans-serif;
}

.about .containerBox .contentBx p {
    color: #C9C5C5;
    font-size: 1em;
    margin-bottom: 20px;
}

.about .containerBox .contentBx a {
    position: relative;
    font-size: 1em;
    color: var(--font-color);
    background: var(--secondary-color);
    display: inline-block;
    padding: 10px 30px;
    margin: 15px 0;
    inline-size: 150px;
    text-decoration: none;
    letter-spacing: 1px;
    border-start-start-radius: 20px;
    border-end-end-radius: 20px;
    transition: .5s;
}

.about .containerBox .contentBx a:hover {
    border-start-start-radius: 0px;
    border-end-end-radius: 0px;
    border-start-end-radius: 20px;
    border-end-start-radius: 20px;
}